.about {
    background-color: var(--secondary-color);
    padding: 5rem 0px;
}

.about h2 {
    color: var(--primary-color);
}

.about div {
    background-color: var(--primary-color);
    width: 30rem;
    margin: 0 auto;
    border: 2px solid var(--tertiary-color);
    border-radius: 15px;
    padding: 1.5rem 0.9rem 0;
}

.about p {
    margin-bottom: 1.5rem;
}

@media screen and (min-height: 878px) and (max-height: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    
}

@media screen and (min-width: 480px) {
    .about div {
        width: 42rem;
    }
}

@media screen and (min-width: 768px) {
    .about div {
        width: 70rem;
    }
}

@media screen and (min-width: 768px) and (min-height: 608px) and (max-height: 1200px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
}