.footer {
    padding: 4rem 0;
    text-align: center;
}

.footer__social-medias img {
    width: 40px;
    margin: 3rem 15px;
    transition: .5s;
}

.footer__social-medias img:hover {
    transform: scale(1.1);
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    width: fit-content;
    margin: 3rem auto;
    
    text-align: left;
}

.footer__container a {
    color: var(--secondary-color);
}

.footer hr {
    width: 80%;
}

.footer__copy {
    margin-top: 4rem;
}