.home {
    position: relative;
    display: flex;
    justify-content: center;

    padding-top: 8rem;
}

.home__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    height: calc(100% - 12vh);
    padding: 3rem 0px;
}

.home__content {
    width: 29.5rem;
}

.home__profile-picture {
    width: 250px;
    border: 2px solid var(--tertiary-color);
    border-radius: 50%;
}

.content__title-container {
    position: relative;
    width: auto;
}

.home__social-medias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: -5rem;
    left: 100%;
}

.home__social-medias a {
    text-decoration: none;
    margin-bottom: 1;
}

.home__social-medias img {
    width: 25px;
    transition: .5s;
}

.home__social-medias img:hover {
    transform: scale(1.1);
}



@media screen and (min-height: 600px)  {
    .home {
        height: 100vh;
    }

    .home__wrapper {
        padding: 0;
    }

    .home__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        
        background-color: var(--secondary-color);
        height: 12vh;
        width: 100%;
    }
    
    .home__container div {
        background-image: url('../../icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
    
        width: 46px;
        height: 53px;
    
        animation-name: arrowMovement;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
        cursor: pointer;
    }
    
    @keyframes arrowMovement {
        0% {
            transform: translateY(5px);
        }
    
        100% {
            transform: translateY(-5px);
        }
    }
}

@media screen and (min-width: 590px) {

    .home__content {
        width: 46rem;
    }

    .home__description {
        width: 37rem;
    }

    .home__social-medias {
        flex-direction: row;
        gap: 20px;
        bottom: 0.8rem;
        left: 60%;
    }
    
    .home__social-medias img {
        width: 25px;
    }
}

@media screen and (min-width: 900px) {
    .home__wrapper {
        flex-direction: row;
        gap: 5rem;
    }
}

@media screen and (min-width: 900px) and (min-height: 400px)  {
    .home {
        height: 100vh;
    }

    .home__wrapper {
        padding: 0;
    }

    .home__container {
        position: absolute;
        bottom: 0;
        
        background-color: var(--secondary-color);
        height: 15vh;
        width: 100%;
    }
    
    .home__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .home__container div {
        background-image: url('../../icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
        
        width: 46px;
        height: 53px;
    
        animation-name: arrowMovement;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes arrowMovement {
        0% {
            transform: translateY(5px);
        }
    
        100% {
            transform: translateY(-5px);
        }
    }
}

@media screen and (min-width: 1440px) {

    .content__title-container ul {
        left: 70%;
    }
    
    .home__social-medias img {
        width: 30px;
    }
}