.skills {
    padding: 5rem 0 10rem;
    background-color: var(--secondary-color);
}

.skills h2 {
    color: var(--primary-color);
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    width: 230px;
    margin: 0 auto;
}

.skills__list img {
    width: 100px;
}

@media screen and (min-height: 740px) and (max-height: 820px) and (max-width: 768px) {
    .skills {
        height: 100vh;
    }

}

@media screen and (min-width: 480px) {
    .skills__list {
        width: 360px;
    }
}

@media screen and (min-width: 768px) {
    .skills__list {
        width: 490px;
    }
}